<div class="row">
  <div class="col col-md-8 mx-auto">
    <div class="row">
      <div class="col">
        <p>
          <b>Arguments: </b>
          {{arguments}}
        </p>

        <p>
          <b>Name Platform: </b>
          {{platform}}
        </p>

        <p>
          <b>Node Version: </b>
          {{nodeVersion}}
        </p>

        <p>
          <b> Memory Usage: </b>
          {{memoryRSS}}
        </p>
      </div>
      <div class="col">
        <p>
          <b>Ejecution Path: </b>
          {{path}}
        </p>

        <p>
          <b>Process Id: </b>
          {{processId}}
        </p>

        <p>
          <b>Project folder: </b>
          {{projectFolder}}
        </p>

        <p>
          <b>Number of Process: </b>
          {{processNumber}}
        </p>
      </div>
    </div>
  </div>
</div>